{% extends "_base.html" %}<!>
{% block title %} Home {% endblock title %}<!>
{% block content %}<!>
<h1>This is our home page.</h1>
{% if user.is_authenticated %}
<p>Hi {{ user.email }}!</p>
<a href="{% url 'account_logout' %}">logout</a>
{% comment %}
<form action="{% url 'account_logout' %}" method="post">
  {% endcomment %} {% comment %} {% csrf_token %} {% endcomment %} {% comment %}
  <button type="submit">Logout</button> {% endcomment %} {% comment %}
</form>
{% endcomment %} {% else %}
<p>You are not logged in</p>
<a href="{% url 'account_login' %}">Log In</a>
<a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %} {% endblock content %}
